@keyframes led-text {

    0% {
        background-image: linear-gradient(to right, rgb(0,128,0),rgb(200,200,200),rgb(255,0,0));
    }
    
    1% {
        background-image: linear-gradient(to right, rgb(7,124,0),rgb(193,197,193),rgb(253,6,6));
    }
    
    2% {
        background-image: linear-gradient(to right, rgb(15,120,0),rgb(187,195,187),rgb(251,12,12));
    }
    
    3% {
        background-image: linear-gradient(to right, rgb(23,116,0),rgb(181,193,181),rgb(250,18,18));
    }
    
    4% {
        background-image: linear-gradient(to right, rgb(30,112,0),rgb(175,191,175),rgb(248,24,24));
    }
    
    5% {
        background-image: linear-gradient(to right, rgb(38,108,0),rgb(169,189,169),rgb(246,30,30));
    }
    
    6% {
        background-image: linear-gradient(to right, rgb(46,104,0),rgb(163,186,163),rgb(245,36,36));
    }
    
    7% {
        background-image: linear-gradient(to right, rgb(54,100,0),rgb(157,184,157),rgb(243,42,42));
    }
    
    8% {
        background-image: linear-gradient(to right, rgb(61,96,0),rgb(151,182,151),rgb(241,48,48));
    }
    
    9% {
        background-image: linear-gradient(to right, rgb(69,93,0),rgb(145,180,145),rgb(240,54,54));
    }
    
    10% {
        background-image: linear-gradient(to right, rgb(77,89,0),rgb(139,178,139),rgb(238,60,60));
    }
    
    11% {
        background-image: linear-gradient(to right, rgb(85,85,0),rgb(133,176,133),rgb(236,66,66));
    }
    
    12% {
        background-image: linear-gradient(to right, rgb(92,81,0),rgb(127,173,127),rgb(235,72,72));
    }
    
    13% {
        background-image: linear-gradient(to right, rgb(100,77,0),rgb(121,171,121),rgb(233,78,78));
    }
    
    14% {
        background-image: linear-gradient(to right, rgb(108,73,0),rgb(115,169,115),rgb(231,84,84));
    }
    
    15% {
        background-image: linear-gradient(to right, rgb(115,69,0),rgb(109,167,109),rgb(230,90,90));
    }
    
    16% {
        background-image: linear-gradient(to right, rgb(123,65,0),rgb(103,165,103),rgb(228,96,96));
    }
    
    17% {
        background-image: linear-gradient(to right, rgb(131,62,0),rgb(96,162,96),rgb(226,103,103));
    }
    
    18% {
        background-image: linear-gradient(to right, rgb(139,58,0),rgb(90,160,90),rgb(225,109,109));
    }
    
    19% {
        background-image: linear-gradient(to right, rgb(146,54,0),rgb(84,158,84),rgb(223,115,115));
    }
    
    20% {
        background-image: linear-gradient(to right, rgb(154,50,0),rgb(78,156,78),rgb(221,121,121));
    }
    
    21% {
        background-image: linear-gradient(to right, rgb(162,46,0),rgb(72,154,72),rgb(220,127,127));
    }
    
    22% {
        background-image: linear-gradient(to right, rgb(170,42,0),rgb(66,152,66),rgb(218,133,133));
    }
    
    23% {
        background-image: linear-gradient(to right, rgb(177,38,0),rgb(60,149,60),rgb(216,139,139));
    }
    
    24% {
        background-image: linear-gradient(to right, rgb(185,34,0),rgb(54,147,54),rgb(215,145,145));
    }
    
    25% {
        background-image: linear-gradient(to right, rgb(193,31,0),rgb(48,145,48),rgb(213,151,151));
    }
    
    26% {
        background-image: linear-gradient(to right, rgb(200,27,0),rgb(42,143,42),rgb(211,157,157));
    }
    
    27% {
        background-image: linear-gradient(to right, rgb(208,23,0),rgb(36,141,36),rgb(210,163,163));
    }
    
    28% {
        background-image: linear-gradient(to right, rgb(216,19,0),rgb(30,138,30),rgb(208,169,169));
    }
    
    29% {
        background-image: linear-gradient(to right, rgb(224,15,0),rgb(24,136,24),rgb(206,175,175));
    }
    
    30% {
        background-image: linear-gradient(to right, rgb(231,11,0),rgb(18,134,18),rgb(205,181,181));
    }
    
    31% {
        background-image: linear-gradient(to right, rgb(239,7,0),rgb(12,132,12),rgb(203,187,187));
    }
    
    32% {
        background-image: linear-gradient(to right, rgb(247,3,0),rgb(6,130,6),rgb(201,193,193));
    }
    
    33% {
        background-image: linear-gradient(to right, rgb(255,0,0),rgb(0,128,0),rgb(200,200,200));
    }
    
    34% {
        background-image: linear-gradient(to right, rgb(253,6,6),rgb(7,124,0),rgb(193,197,193));
    }
    
    35% {
        background-image: linear-gradient(to right, rgb(251,12,12),rgb(15,120,0),rgb(187,195,187));
    }
    
    36% {
        background-image: linear-gradient(to right, rgb(250,18,18),rgb(23,116,0),rgb(181,193,181));
    }
    
    37% {
        background-image: linear-gradient(to right, rgb(248,24,24),rgb(30,112,0),rgb(175,191,175));
    }
    
    38% {
        background-image: linear-gradient(to right, rgb(246,30,30),rgb(38,108,0),rgb(169,189,169));
    }
    
    39% {
        background-image: linear-gradient(to right, rgb(245,36,36),rgb(46,104,0),rgb(163,186,163));
    }
    
    40% {
        background-image: linear-gradient(to right, rgb(243,42,42),rgb(54,100,0),rgb(157,184,157));
    }
    
    41% {
        background-image: linear-gradient(to right, rgb(241,48,48),rgb(61,96,0),rgb(151,182,151));
    }
    
    42% {
        background-image: linear-gradient(to right, rgb(240,54,54),rgb(69,93,0),rgb(145,180,145));
    }
    
    43% {
        background-image: linear-gradient(to right, rgb(238,60,60),rgb(77,89,0),rgb(139,178,139));
    }
    
    44% {
        background-image: linear-gradient(to right, rgb(236,66,66),rgb(85,85,0),rgb(133,176,133));
    }
    
    45% {
        background-image: linear-gradient(to right, rgb(235,72,72),rgb(92,81,0),rgb(127,173,127));
    }
    
    46% {
        background-image: linear-gradient(to right, rgb(233,78,78),rgb(100,77,0),rgb(121,171,121));
    }
    
    47% {
        background-image: linear-gradient(to right, rgb(231,84,84),rgb(108,73,0),rgb(115,169,115));
    }
    
    48% {
        background-image: linear-gradient(to right, rgb(230,90,90),rgb(115,69,0),rgb(109,167,109));
    }
    
    49% {
        background-image: linear-gradient(to right, rgb(228,96,96),rgb(123,65,0),rgb(103,165,103));
    }
    
    50% {
        background-image: linear-gradient(to right, rgb(226,103,103),rgb(131,62,0),rgb(96,162,96));
    }
    
    51% {
        background-image: linear-gradient(to right, rgb(225,109,109),rgb(139,58,0),rgb(90,160,90));
    }
    
    52% {
        background-image: linear-gradient(to right, rgb(223,115,115),rgb(146,54,0),rgb(84,158,84));
    }
    
    53% {
        background-image: linear-gradient(to right, rgb(221,121,121),rgb(154,50,0),rgb(78,156,78));
    }
    
    54% {
        background-image: linear-gradient(to right, rgb(220,127,127),rgb(162,46,0),rgb(72,154,72));
    }
    
    55% {
        background-image: linear-gradient(to right, rgb(218,133,133),rgb(170,42,0),rgb(66,152,66));
    }
    
    56% {
        background-image: linear-gradient(to right, rgb(216,139,139),rgb(177,38,0),rgb(60,149,60));
    }
    
    57% {
        background-image: linear-gradient(to right, rgb(215,145,145),rgb(185,34,0),rgb(54,147,54));
    }
    
    58% {
        background-image: linear-gradient(to right, rgb(213,151,151),rgb(193,31,0),rgb(48,145,48));
    }
    
    59% {
        background-image: linear-gradient(to right, rgb(211,157,157),rgb(200,27,0),rgb(42,143,42));
    }
    
    60% {
        background-image: linear-gradient(to right, rgb(210,163,163),rgb(208,23,0),rgb(36,141,36));
    }
    
    61% {
        background-image: linear-gradient(to right, rgb(208,169,169),rgb(216,19,0),rgb(30,138,30));
    }
    
    62% {
        background-image: linear-gradient(to right, rgb(206,175,175),rgb(224,15,0),rgb(24,136,24));
    }
    
    63% {
        background-image: linear-gradient(to right, rgb(205,181,181),rgb(231,11,0),rgb(18,134,18));
    }
    
    64% {
        background-image: linear-gradient(to right, rgb(203,187,187),rgb(239,7,0),rgb(12,132,12));
    }
    
    65% {
        background-image: linear-gradient(to right, rgb(201,193,193),rgb(247,3,0),rgb(6,130,6));
    }
    
    66% {
        background-image: linear-gradient(to right, rgb(200,200,200),rgb(255,0,0),rgb(0,128,0));
    }
    
    67% {
        background-image: linear-gradient(to right, rgb(193,197,193),rgb(253,6,6),rgb(7,124,0));
    }
    
    68% {
        background-image: linear-gradient(to right, rgb(187,195,187),rgb(251,12,12),rgb(15,120,0));
    }
    
    69% {
        background-image: linear-gradient(to right, rgb(181,193,181),rgb(250,18,18),rgb(23,116,0));
    }
    
    70% {
        background-image: linear-gradient(to right, rgb(175,191,175),rgb(248,24,24),rgb(30,112,0));
    }
    
    71% {
        background-image: linear-gradient(to right, rgb(169,189,169),rgb(246,30,30),rgb(38,108,0));
    }
    
    72% {
        background-image: linear-gradient(to right, rgb(163,186,163),rgb(245,36,36),rgb(46,104,0));
    }
    
    73% {
        background-image: linear-gradient(to right, rgb(157,184,157),rgb(243,42,42),rgb(54,100,0));
    }
    
    74% {
        background-image: linear-gradient(to right, rgb(151,182,151),rgb(241,48,48),rgb(61,96,0));
    }
    
    75% {
        background-image: linear-gradient(to right, rgb(145,180,145),rgb(240,54,54),rgb(69,93,0));
    }
    
    76% {
        background-image: linear-gradient(to right, rgb(139,178,139),rgb(238,60,60),rgb(77,89,0));
    }
    
    77% {
        background-image: linear-gradient(to right, rgb(133,176,133),rgb(236,66,66),rgb(85,85,0));
    }
    
    78% {
        background-image: linear-gradient(to right, rgb(127,173,127),rgb(235,72,72),rgb(92,81,0));
    }
    
    79% {
        background-image: linear-gradient(to right, rgb(121,171,121),rgb(233,78,78),rgb(100,77,0));
    }
    
    80% {
        background-image: linear-gradient(to right, rgb(115,169,115),rgb(231,84,84),rgb(108,73,0));
    }
    
    81% {
        background-image: linear-gradient(to right, rgb(109,167,109),rgb(230,90,90),rgb(115,69,0));
    }
    
    82% {
        background-image: linear-gradient(to right, rgb(103,165,103),rgb(228,96,96),rgb(123,65,0));
    }
    
    83% {
        background-image: linear-gradient(to right, rgb(96,162,96),rgb(226,103,103),rgb(131,62,0));
    }
    
    84% {
        background-image: linear-gradient(to right, rgb(90,160,90),rgb(225,109,109),rgb(139,58,0));
    }
    
    85% {
        background-image: linear-gradient(to right, rgb(84,158,84),rgb(223,115,115),rgb(146,54,0));
    }
    
    86% {
        background-image: linear-gradient(to right, rgb(78,156,78),rgb(221,121,121),rgb(154,50,0));
    }
    
    87% {
        background-image: linear-gradient(to right, rgb(72,154,72),rgb(220,127,127),rgb(162,46,0));
    }
    
    88% {
        background-image: linear-gradient(to right, rgb(66,152,66),rgb(218,133,133),rgb(170,42,0));
    }
    
    89% {
        background-image: linear-gradient(to right, rgb(60,149,60),rgb(216,139,139),rgb(177,38,0));
    }
    
    90% {
        background-image: linear-gradient(to right, rgb(54,147,54),rgb(215,145,145),rgb(185,34,0));
    }
    
    91% {
        background-image: linear-gradient(to right, rgb(48,145,48),rgb(213,151,151),rgb(193,31,0));
    }
    
    92% {
        background-image: linear-gradient(to right, rgb(42,143,42),rgb(211,157,157),rgb(200,27,0));
    }
    
    93% {
        background-image: linear-gradient(to right, rgb(36,141,36),rgb(210,163,163),rgb(208,23,0));
    }
    
    94% {
        background-image: linear-gradient(to right, rgb(30,138,30),rgb(208,169,169),rgb(216,19,0));
    }
    
    95% {
        background-image: linear-gradient(to right, rgb(24,136,24),rgb(206,175,175),rgb(224,15,0));
    }
    
    96% {
        background-image: linear-gradient(to right, rgb(18,134,18),rgb(205,181,181),rgb(231,11,0));
    }
    
    97% {
        background-image: linear-gradient(to right, rgb(12,132,12),rgb(203,187,187),rgb(239,7,0));
    }
    
    98% {
        background-image: linear-gradient(to right, rgb(6,130,6),rgb(201,193,193),rgb(247,3,0));
    }
    
    100% {
        background-image: linear-gradient(to right, rgb(0,128,0),rgb(200,200,200),rgb(255,0,0));
    }
    
    }

@keyframes rotate-beyond{
    90% {
        transform: rotateZ(390deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-beyond-filp{
    90% {
        transform: rotateZ(-390deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes colors {
    33.3% {
        color: rgba(0, 0, 0, 0.543);
    }

    66.6% {
        color: #fff;
    }

    100% {
        color: rgba(0, 0, 0, 0.543);
    }
}