$bg1: url("./assets/image/bg1.jpg");
$bg2: url("./assets/image/bg2.jpg");
$profile: url("./assets/image/profile.jpg");

$left-dis: 200px;
$left-dis-fold: 54px;
$left-width-min: 54px;
$right-dis: 180px!default;
$top-dis: 50px;
$foot-dis: 50px;

$icon-size : 18px;
$font-size : 14px;

$animation-time: 0.5s;

$top-color: #39d3e6;
$font-family : "Source Sans Pro","Hiragino Sans GB","Microsoft Yahei",SimSun,Helvetica,Arial,Sans-serif;

$width-media1: 1000px;
$width-media2: 750px;
$width-media3: 450px;


$svg-color1: linear-glinear-gradient(to bottom, rgba(0, 255, 179, 0.427) ,rgba(255, 255, 79, 0.395));
$svg-color2: #66ccff;


%hide {
    display: none!important;
}
// left
%left_item {
    width: $left-dis!important;
}
%left_item_fold {
    width: $left-width-min!important;
}
%left_item_hide {
    width: 0!important;
}
%base_left_item {
    left: $left-dis!important;
}
%base_left_item_fold {
    left: $left-width-min!important;
}
%base_left_item_hide {
    left: 0!important;
}
%base_left_item_hide_re {
    left: 70%!important;
}

// top
%top_item {
    height: $top-dis;
}
%base_top_item {
    top: $top-dis!important;
}

// right
%right_item {
    width: $right-dis!important;
}
%right_item_hide {
    width: 0!important;
}

%base_right_item {
    right: $right-dis!important;
}
%base_right_item_hide {
    right: 0!important;
}

// foot
%foot_item {
    height: $foot-dis;
}
%base_foot_item {
    bottom: $foot-dis!important;
}

// media
%base_media {

    .left {
        @extend %left_item;
    }
    .left-fold {
        @extend %left_item_fold;
    }
    .left-hide {
        @extend %left_item_hide;
    }
    .base-left {
        @extend %base_left_item;
    }
    .base-left-fold {
        @extend %base_left_item_fold;
    }
    .base-left-hide {
        @extend %base_left_item_hide;
    }

    .right {
        @extend %right_item;
    }
    .right-hide {
        @extend %right_item_hide;
    }
    .base-right {
        @extend %base_right_item;
    }
    .base-right-hide {
        @extend %right_item_hide;
    }
    
    .top {
        @extend %top_item;
    }
    .base-top {
        @extend %base_top_item;
    }


    .foot {
        @extend %foot_item;
    }
    .base-foot {
        @extend %base_foot_item;
    }

}