div {
    user-select: none;
}

input {
    font-family: $font-family;
    text-indent: 8px;
    &:focus{
        outline: #66ccff solid 1px;
    }
    &::placeholder {
        font-size: 10px;
    }
}

svg,path {
    fill: $svg-color1;
}

img {
    -webkit-user-drag: none;
}

.icon {
    height: $icon-size;
    width:  $icon-size;
}

.text {
    /* align-items: center; */
    color: #fff;
    white-space: nowrap;
    text-shadow: none;
    font-size: $font-size;
    font-family: $font-family;
    line-height: 3.25;
    padding-left: 3px;
}
