$head-fold: true;

:root {
    --bg1: url("./assets/image/bg1.jpg");
    --bg2: url("./assets/image/bg2.jpg");
    --profile: url("./assets/image/profile.jpg");
    --left-dis: 180px;
    --left-width-min: 54px;
    --top-dis: 50px;
    --icon-size : 18px;
    --font-size : 14px;
    --top-color: #39d3e6;
    --animation-time: 0.5s;
    --font-family : "Source Sans Pro","Hiragino Sans GB","Microsoft Yahei",SimSun,Helvetica,Arial,Sans-serif;
}

._hide , .click-_hide{
    display: none!important;
}

#bg {
    position: fixed;
    background-size: cover;
    background-image: var(--bg1);
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    top: var(--top-dis);
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    #bg {
        background-image: var(--bg2);
        left: 0px;
    }
    #bg-mask {
        left: 0!important;
    }

    ._hide {
        display: inherit!important;
    }

    .hide {
        display: none!important;
    }

    .list {
        flex-direction:column;
        justify-items: flex-start;
        position:fixed;
        top: var(--top-dis);
        width: 100%;
        right: 0!important;
        // padding: 0;
        height: fit-content!important;
        background-color: var(--top-color);
        left: var(--left-width-min);
        transition: left var(--animation-time) ease;
        &.profile-fold{
            left: var(--left-dis);
            width: auto;
            transition: left var(--animation-time) ease;;
        }
        &.head-fold {
            display: none!important;
        }
    }

    .dropdown {
        // width: 100%;
        height: 5vh;
        flex-grow: unset!important;
        box-shadow: 0 -1px 0 rgba(0,0,0,.1);
        a {
            // width: 100%;
            // height: 100%;
            // padding-left: 10px;
            svg{
                // padding-right: 1%;
                background-color: transparent;
            }
        }
    }

}

#bg-mask {
    position: fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.228);
    background-position: center center;
    z-index: -1;
    top: var(--top-dis);
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
}

#head {
    top:0;
    left: 0;
    right: 0;
    height: var(--top-dis);
    position: fixed;
    color: aliceblue;
    background-color: var(--top-color);
    box-shadow:  2px 2px rgba(0,0,0,.05), 0px 1px 0 rgba(0,0,0,.05);
}

#right {
    display: flex;
    position: fixed;
    flex-direction: column;
    top:var(--top-dis);
    right: 0;
    width: var(--left-dis); 
    background-color: #f2e31300;
    height: 100%;
    z-index: -1;
}

#left{
    display: flex;
    flex-direction: column;
    top:var(--top-dis);
    left: 0;
    width: var(--left-dis);
    // padding-right: 10%;
    height: 100%;
    position: fixed;
    background-color: aliceblue;
    
    box-shadow:  2px 2px rgba(0,0,0,.05), 0px 1px 0 rgba(0,0,0,.05);
    transition: width var(--animation-time) ease;

    #left-container {
        width: 100%;
        height: 100%;
    }
    &.profile-fold {
        width: var(--left-width-min);
        transition: width var(--animation-time) ease;
        img {
            width: calc(var(--left-width-min)/2);
            height: calc(var(--left-width-min)/2);
            // border-radius: 0px;
            transition: all 0.2s linear;
            animation: rotate-beyond 1s forwards;
        }
        #profile_name{
            writing-mode: vertical-rl;
            animation: colors var(--animation-time) forwards;
            padding-bottom: 6px;
        }
        #left-block:first {
            box-shadow: unset;
        }
        .block-name {
            padding-left: 0!important;
            align-self: center!important;
        }
        .block-item {
            justify-content: center;
        }
        svg {
            padding-top: calc(var(--left-width-min)/3);
            padding-bottom: calc(var(--left-width-min)/3);
            padding-left: 0!important;
        }
        &::-webkit-scrollbar {
            width: 6px;
            padding-top: 10px;
        }
    
    }

    #left-block {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center ;
        padding-bottom: 1vh;
        box-shadow: 0 -1px rgb(201, 214, 224); 
        .block-name {
            font-size: 12px;
            color: rgb(163, 163, 163);
            padding-top: 10px;
            padding-left: 5px;
            align-self: flex-start;
        }
        &:last-child {
            padding-bottom: 60%;
        }
    }

    .block-item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        svg {
            height: 15px;
            width:  15px;
            padding-left: 20px;
        }
        &:hover{
            cursor: pointer;
            background-color: #a1e0ff;
        }
        &:active{
            background-color: #66ccff;
        }

        .block-item-name {
            font-size: 13px;
            color: #58666e; // #a0a0efd4;
            font-family: var(--font-family);
            padding-left: 10px;
            margin-bottom: 1px;
            white-space: nowarp;
            overflow: hidden;
        }

    }

    #profile_name {
        color: rgba(0, 0, 0, 0.543);
        font-family: var(--font-family);
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        margin-top: 1vh;
    }

    .fold-hide {
        display: none!important;
    }

}

#nav {
    display: grid;
    width: 100%;
    height: 100%;
    grid-auto-rows: 1fr;
    grid-template-columns: auto auto 1fr auto;
    z-index: 10;
}

#nav-mid {
    display: flex;
    height: 100%;   
    align-items: center;
    justify-items: center;

    .icon-a{
        &:hover{
            background-color: inherit;
        }
        &:active{
            background-color: inherit;
        }
        svg{
            &.rotate {
                transform: rotateY(-180deg);
                transition: all var(--animation-time) ease,
                            transform var(--animation-time) ease;
            };
            &.derotate {
                transform: rotateY(0deg);
                transition: all var(--animation-time) ease,
                            transform var(--animation-time) ease;
            }
        }
    }   
}

#nav-right {
    display: flex;
    height: 100%;   
    align-items: center;
    justify-items: center;
    float: right!important;
}

#nav-left {
    display: flex;
    width: calc(var(--left-dis));
    left: 0;
    justify-content: space-evenly;
    &.profile-fold{
        width: calc(var(--left-width-min))!important  ;
    }
    .icon-a{
        &:hover{
            background-color: inherit;
        }
        &:active{
            background-color: inherit;
        }
    }
    transition: width var(--animation-time) ease;

    #brief {
        white-space: nowrap;
        overflow: hidden;
        font-family: var(--font-family);
        padding-right: 10px;
    }
}


.icon {
    place-items: center;
    height: var(--icon-size);
    width:  var(--icon-size);
}

.list ,.list2{
    display: flex;
    right: -15px; 
    height: 100%;
}


.dropdown {
    display: flex;
    // margin-right: 1.2em;
    // flex-grow: 1;
    align-items: center;
    justify-items: center;
    height: 100%;   
}

.text {
    /* align-items: center; */
    color: #fff;
    white-space: nowrap;
    text-shadow: none;
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: 3.25;
}

.icon-a {
    display: flex;
    text-decoration: none;  
    height: 100%!important;
    place-items: center;
    padding-left: 16px;
    padding-right: 16px;
    color: var(--top-color); 

    &:hover {
        background-color: darken(#39d3e6, 8%); 
        cursor: pointer;
    }
  
    &:active {
        background-color: darken(#39d3e6, 10%);
    }

    
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #fff;
}


.login-item {
    z-index: 9999;
}

#login-tab {
    display: flex;  
    flex-direction: column;
    position: fixed;
    top: var(--top-dis);
    right: 0;
    height: fit-content;
    // width: 30%;
    background-color: rgba(255, 255, 255, 0.662);
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    // border-radius: 3px;
    outline: rgba(148, 156, 243, 0.737) solid 2px;
    outline-offset: -2px;
    opacity: 1;
    transition: opacity var(--animation-time) ease;

    div div{
        display: flex;
        text-align: left;
        font-size: var(--font-size);
        color: #58666e;
        padding-top: 10px;
        padding-bottom: 5px;
        font-family: var(--font-family);
    
    }

    button{
        font-family: var(--font-family);
        font-size: var(--font-size);
        background-color: var(--top-color);
        border: none;
        cursor: pointer;
    
        &:hover {
            background-color: darken(#39d3e6, 8%); 
            cursor: pointer;
        }
      
        &:active {
            background-color: darken(#39d3e6, 10%);
        }
    }

    transition: opacity 1s ease;
    &.login-fold {
        opacity: 0!important;
        overflow: hidden;
        * {
            pointer-events: none;  
        }
    }
}

.login-item-s{
    margin-top: 5px;
    &.login-input {
        margin-top: unset;
    }
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    color: #fff;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.22857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    &.login-item {
        margin-top: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #39d2e600;
        &:active {
            background-color: darken(#39d2e62d, 10%);
        }
    
        &:focus {
            outline: none;
        }
    }

}


div {
    user-select: none;
}

input {
    font-family: var(--font-family);
    text-indent: 8px;
    &:focus{
        outline: #66ccff solid 1px;
    }
    &::placeholder {
        font-size: 10px;
    }
}

input.login-input{
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    width: 250px;
    height: 2.5vh;
    // &::placeholder {
    //     padding-left: 8px; 
    // }
    text-indent: 8px;

}

#search {
    display: flex;
    height: 50%;

    input {
        border-radius: 20px 0px 0px 20px;
        border: 2px #66ccff;
        outline: none;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 6px;
        background-color: #edf1f2;
        &:hover{
            background-color: #fff;
        }
        &:active{
            background-color: #fff;
        }
    }
    svg {
        height: 100%;
        justify-items: center;
        align-items: center;
        background-color: white;
        border-radius: 0px 20px 20px 0px;
        padding-right: 5px;
        background-color: #edf1f2;
        &:hover{
            background-color: #fff;
        }
        &:active{
            background-color: #fff;
        }
    }
    .icon-a {
        padding-left: unset;

    }
}

// .pathx {
//     stroke: rgb(204, 0, 255);
//     stroke-width: 10px;
//     stroke-dasharray: var(--l);
//     stroke-dashoffset: var(--l);
//     animation: animate1 2s forwards;
//     fill: white;
//     stroke-linecap: round;
// }

#profile-img-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    img {
        height: calc( var(--left-dis) * 7 /14 );
        width: calc( var(--left-dis) * 7 /14 );
        overflow: hidden;
        border-radius: calc( var(--left-dis) * 7 /14 );
        transition: all 0.2s linear;
        // animation: rotate-beyond 1s forwards;
        &:hover {
            transform: rotateZ(-45deg);
            transition: transform var(--animation-time) ease-out;
        }
    }
    transform: rotateZ(0deg);
    margin-top: 3vh;
    margin-left: auto;  // 上右下左  
    margin-right: auto;
}

@keyframes rotate-beyond{
    90% {
        transform: rotateZ(390deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate-beyond-filp{
    90% {
        transform: rotateZ(-390deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes colors {
    33.3% {
        color: rgba(0, 0, 0, 0.543);
    }

    66.6% {
        color: #fff;
    }

    100% {
        color: rgba(0, 0, 0, 0.543);
    }
}

.y-scroll{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #4d7fff #ddd;

    &::-webkit-scrollbar {
        width: 10px;
        padding-top: 10px;
        z-index: -1;
    }
    &::-webkit-scrollbar-button {
        height: 0px;
        z-index: -1;
    }

    &::-webkit-scrollbar-track {
        background-color: #ebeceb00;
        border: 1px solid #ccc;
        z-index: -1;
      }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgba(0, 255, 179, 0.427) ,rgba(255, 255, 79, 0.395));
        // border-radius: 5px;
        z-index: -1;
      }
}


.article-bg {
    display: flex;
    position:fixed;
    overflow-y: scroll;
    left: var(--left-dis);
    top: var(--top-dis);
    right: var(--left-dis);
    height: 200%;
    background-color: #ffcccc40;
    transition: left var(--animation-time) cubic-bezier(0.64, 1.48, 0.58, 1);
    &.profile-fold {
        left: var(--left-width-min)!important;
        transition: left var(--animation-time) cubic-bezier(0.64, 1.48, 0.58, 1);
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgba(63, 71, 214, 0.427) ,#000);
        // border-radius: 5px;
      }
    &::-webkit-scrollbar {
        width: 10px;
        padding-top: 10px;
    }
    z-index: -1;
}

.article-container {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    flex: 1;
    margin-top: 5vh;
    height: 130%;
    width: 100%;
    z-index: -1;
}

.article-block {
    display: inline-flex;
    width: 100%;
    height: fit-content;
    background-size: cover;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
    img {
        overflow: hidden;
        width: 100%;
        min-height: 140px;
        max-height: 260px;
        margin-left: 10%;
        margin-right: 10%;
        object-fit:cover;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.05); 
        }
    }
}

.article-block img::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.331); 
}


