$bg1: url("./assets/image/bg1.jpg");
$bg2: url("./assets/image/bg2.jpg");
$profile: url("./assets/image/profile.jpg");

$left-dis: 200px;
$left-dis-fold: 54px;
$left-width-min: 54px;
$right-dis: 240px!default;
$head-dis: 50px;
$foot-dis: 50px;
$bar-dis: 10px;
$rightbar-dis: 10px;

$icon-size : 16px;
$font-size : 13px;

$animation-time: 0.5s;

$head-color: #39d3e6;
$font-family : "Source Sans Pro","Hiragino Sans GB","Microsoft Yahei",SimSun,Helvetica,Arial,Sans-serif;

$width-media1: 1000px;
$width-media2: 750px;
$width-media3: 500px;


$svg-color1: #fff;
$svg-color2: #66ccff;

%base_left_animation {
    transition: left $animation-time ease;
}
%left_item_animation {
    transition: width $animation-time ease;
}

// left
%left_item {
    width: $left-dis!important;
    @extend %left_item_animation;
}
%left_item_fold {
    width: $left-width-min!important;
    @extend %left_item_animation;
}
%left_item_hide {
    width: 0!important;
    @extend %left_item_animation;
}
%left_item_noin_hide {
    width: 0!important;
    @extend %left_item_animation;
}
%left_item_hide_re {
    width: 70%!important;
    @extend %left_item_animation;
}
%base_left_item {
    left: $left-dis!important;
    @extend %base_left_animation;
}
%base_left_item_fold {
    left: $left-width-min!important;
    @extend %base_left_animation;
}
%base_left_item_hide {
    left: 0!important;
    @extend %base_left_animation;
}
%base_left_item_hide_re {
    left: 70%!important;
    @extend %base_left_animation;
}

// head
%head_item {
    height: $head-dis;
}
%base_head_item {
    top: $head-dis!important;
}

// right
%right_item {
    width: $right-dis!important;
}
%right_item_hide {
    width: 0!important;
}

%base_right_item {
    right: calc( #{$right-dis} + 10px)!important;
}
%base_right_item_hide {
    right: 0!important;
}

// foot
%foot_item {
    height: $foot-dis;
}
%base_foot_item {
    bottom: $foot-dis!important;
}

// flattenHead
%fhead_item {
    @extend %base_head_item;
}

@media (max-width: $width-media1) {

    .meida1-hide {
        display: none!important;
    }
    svg {
        padding-left: 16px;
        padding-right: 16px;
    }
    .inline-container {
        padding: 0!important;
    }
};

@media (max-width: $width-media2) {
    #bg {
        background-image: $bg2!important;
    }
    .media2_hide {
        display: none!important;
    }
    .media2_show {
        display: unset!important;
    }
    #nav-right {
        position: fixed;
        overflow: hidden;
        right: $rightbar-dis;
        flex-direction: column!important;
        height: fit-content!important;
        align-items: start!important;
        .inline-container {
            width: 100%!important;
            padding-top: 15px!important;
            padding-bottom: 15px!important;
            .text {
                display: unset!important;
            }
            background-color: $head-color;
            box-shadow: 0 -1px 0 rgba(0,0,0,.1);
        }
    }
    #login-tab {
        position: unset!important;
        right: 0!important;
        width: 100%;
        .login-container {
            padding-left: 8px!important;
            padding-right: 8px!important;
        }
        // margin: 20px 10px 5px 10px!important;
        input {
            width: 100%!important;
        }
    }

};

@media (max-width: $width-media3) {
    .media3_hide {
        display: none!important;
    }
};


.left_item.lnormal {
    @extend %left_item;
}
.left_item.lfold {
    @extend %left_item_fold;
    transition: width $animation-time ease;
    &::-webkit-scrollbar {
        width: 8px;
        padding-top: 10px;
    }
}

.left_item.lhide.noin {
    @extend %left_item_fold;
}
.left_item.lhide.re {
    @extend %left_item_hide_re;
}
.left_item.lhide {
    @extend %left_item_hide;
}
.base_left.lnormal {
    @extend %base_left_item;
    &#nav-mid .fold-icon {
        transform: rotateY(0deg);
    }
}
.base_left.lfold {
    @extend %base_left_item_fold;
    &#nav-mid .fold-icon {
        transform: rotateY(-180deg);
    }
}

.base_left.lhide.re {
    @extend %base_left_item_hide_re;
}
.base_left.lhide {
    @extend %base_left_item_hide;
}

.right_item.rnormal {
    @extend %right_item
}
.right_item.rhide {
    @extend %right_item_hide
}
.base_right.rnormal {
    @extend %base_right_item
}
.base_right.rhide {
    @extend %base_right_item_hide;
}

.head_item.hnormal {
    @extend %head_item
}
.base_head.hnormal {
    @extend %base_head_item
}

.foot_item.fnormal {
    @extend %foot_item
}
.base_foot.fnormal {
    @extend %base_foot_item
}

%fhead_item.fhnormal {
    @extend %base_head_item;
}
%fhead_item.fhhide {
    @extend %base_head_item;
}