div {
    user-select: none;
    margin: 0;
}

input {
    font-family: $font-family;
    text-indent: 8px;
    &::placeholder {
        font-size: $font-size;
    }
}


img {
    -webkit-user-drag: none;
}

svg {
    height: $icon-size;
    width:  $icon-size;
    align-items: center;
}

b {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #fff;
}

.text {
    color: #fff;
    white-space: nowrap;
    text-shadow: none;
    font-size: $font-size;
    font-family: $font-family;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.inline {
    margin-bottom: 5px;
}

.y-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #4d7fff #ddd;

    &::-webkit-scrollbar {
        width: 10px;
        padding-top: 10px;
        z-index: -1;
        position: absolute;
        border: 1px solid #ccc;
    }
    &::-webkit-scrollbar-button {
        height: 0px;
        z-index: -1;
    }

    &::-webkit-scrollbar-track {
        background-color: #ebeceb00;
        border: none;
        z-index: -1;
      }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgba(0, 255, 179, 0.427) ,rgba(255, 255, 79, 0.395));
        // border-radius: 5px;
        z-index: -1;
      }
}

