@import "./base_.scss";
@import "./animation.scss";
@import "./overrideBase.scss";

@import "./head.scss";
@import "./left.scss";
@import "./right.scss";
@import "./foot.scss";
@import "./acticle.scss";

#bg {
    position: fixed;
    background-size: cover;
    background-image: $bg1;
    background-position: center center;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    z-index: -1;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000021;
        opacity: 1;
        transition: opacity 0.5s ease; 
    }
}
