@import "./base_.scss";
@import "./animation.scss";
@import "./overrideBase.scss";

#bg {
    position: fixed;
    background-size: cover;
    background-image: $bg1;
    background-position: center center;
    background-repeat: no-repeat;
    top: $head-dis;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    z-index: -1;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000021;
        opacity: 1;
        transition: opacity 0.5s ease; 
    }
}

@media (max-width: 750px) {

    .list {
        flex-direction:column;
        justify-items: flex-start;
        position:fixed;
        // top: $head-dis;
        @extend .base_head;
        width: 100%;
        right: 0!important;
        height: fit-content!important;
        background-color: $head-color;
        // left: $left-width-min;
        @extend .base_left;
        transition: left $animation-time ease;
        &.fold{
            width: auto;
            transition: left $animation-time ease;
        }
        &.head-fold {
            display: none!important;
        }
    }

    .dropdown {
        // width: 100%;
        height: 5vh;
        flex-grow: unset!important;
        box-shadow: 0 -1px 0 rgba(0,0,0,.1);
        a {
            // width: 100%;
            // height: 100%;
            // padding-left: 10px;
            svg{
                // padding-right: 1%;
                background-color: transparent;
            }
        }
        .icon-a {
            width: 100%;
        }
    }

}

#head {
    top:0;
    left: 0;
    right: 0;
    height: $head-dis;
    position: fixed;
    color: aliceblue;
    background-color: $head-color;
    box-shadow:  2px 2px rgba(0,0,0,.05), 0px 1px 0 rgba(0,0,0,.05);
}

#right {
    display: flex;
    position: fixed;
    flex-direction: column;
    top:$head-dis;
    right: 0;
    width: $left-dis; 
    background-color: #f2e31300;
    height: 100%;
    z-index: -1;
}

#left{
    display: flex;
    flex-direction: column;
    top:$head-dis;
    left: 0;
    width: $left-dis;
    // padding-right: 10%;
    height: 100%;
    position: fixed;
    background-color: aliceblue;
    
    box-shadow:  2px 2px rgba(0,0,0,.05), 0px 1px 0 rgba(0,0,0,.05);
    transition: width $animation-time ease;

    #left-container {
        width: 100%;
        height: 100%;
    }
    &.profile-fold {
        width: $left-width-min;
        transition: width $animation-time ease;
        img {
            width: calc(#{$left-width-min}/2);
            height: calc(#{$left-width-min}/2);
            // border-radius: 0px;
            transition: all 0.2s linear;
            animation: rotate-beyond 1s forwards;
        }
        #profile_name{
            writing-mode: vertical-rl;
            animation: colors $animation-time forwards;
            padding-bottom: 6px;
            padding-left: 0px;
        }
        #left-block:first {
            box-shadow: unset;
        }
        .block-name {
            padding-left: 0!important;
            align-self: center!important;
        }
        .block-item {
            justify-content: center;
        }
        svg {
            padding-top: calc( #{$left-width-min}/3 );
            padding-bottom: calc( #{$left-width-min}/3 );
            padding-left: 0!important;
        }
        &::-webkit-scrollbar {
            width: 6px;
            padding-top: 10px;
        }
    
    }

    #left-block {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center ;
        padding-bottom: 1vh;
        box-shadow: 0 -1px rgb(201, 214, 224); 
        .block-name {
            font-size: 12px;
            color: rgb(163, 163, 163);
            padding-top: 10px;
            padding-left: 5px;
            align-self: flex-start;
        }
        &:last-child {
            padding-bottom: 60%;
        }
    }

    .block-item {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        svg {
            height: 15px;
            width:  15px;
            padding-left: 20px;
            path {
                fill: $svg-color2;
            }
        }
        &:hover{
            cursor: pointer;
            background-color: #a1e0ff;
        }
        &:active{
            background-color: #66ccff;
        }

        .block-item-name {
            font-size: 14px;
            color: #58666e; // #a0a0efd4;
            font-family: $font-family;
            padding-left: 18px;
            margin-bottom: 1px;
            white-space: nowarp;
            overflow: hidden;
        }

    }

    #profile_name {
        color: rgba(0, 0, 0, 0.543);
        font-family: $font-family;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        margin-top: 1vh;
    }

    .fold-hide {
        display: none!important;
    }

}

#nav {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    height: 100%;
    grid-auto-rows: 1fr;
    grid-template-columns: auto auto 1fr auto;
    z-index: 10;
}

#nav-mid {
    display: flex;
    height: 100%;   
    align-items: center;
    justify-items: center;

    .icon-a{
        &:hover{
            background-color: inherit;
        }
        &:active{
            background-color: inherit;
        }
        svg{
            &.rotate {
                transform: rotateY(-180deg);
                transition: all $animation-time ease,
                            transform $animation-time ease;
            };
            &.derotate {
                transform: rotateY(0deg);
                transition: all $animation-time ease,
                            transform $animation-time ease;
            }
        }
    }   
}

#nav-right {
    display: flex;
    height: 100%;   
    align-items: center;
    justify-items: center;
    float: right!important;
}

#nav-left {
    display: flex;
    width: $left-dis;
    &.profile-hide-flag {
        width: $left-width-min!important;
    }
    left: 0;
    justify-content: space-evenly;
    &.profile-fold{
        width: $left-width-min!important  ;
    }
    .icon-a{
        &:hover{
            background-color: inherit;
        }
        &:active{
            background-color: inherit;
        }
    }
    transition: width $animation-time ease;

    #brief {
        white-space: nowrap;
        overflow: hidden;
        font-family: $font-family;
        padding-right: 10px;
        // background-image: linear-gradient(to right, green,rgb(255, 255, 255), rgb(255, 0, 0));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: led-text 2s infinite linear;
        animation-delay: 0s;
        // animation-fill-mode: forwards; /* 动画结束后保持最终状态 */
    }
}


.icon {
    place-items: center;
    height: $icon-size;
    width:  $icon-size;
}

.list ,.list2{
    display: flex;
    right: -15px; 
    height: 100%;
}


.dropdown {
    display: flex;
    // margin-right: 1.2em;
    // flex-grow: 1;
    align-items: center;
    justify-items: center;
    height: 100%;   
}

.text {
    /* align-items: center; */
    color: #fff;
    white-space: nowrap;
    text-shadow: none;
    font-size: $font-size;
    font-family: $font-family;
    line-height: 3.25;
    padding-left: 3px;
}

.icon-a {
    display: flex;
    text-decoration: none;  
    height: 100%!important;
    place-items: center;
    padding-left: 16px;
    padding-right: 16px;
    color: $head-color; 

    &:hover {
        background-color: darken(#39d3e6, 8%); 
        cursor: pointer;
    }
  
    &:active {
        background-color: darken(#39d3e6, 10%);
    }

    
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    color: #fff;
}


#login-tab {
    display: flex;  
    flex-direction: column;
    position: fixed;
    top: $head-dis;
    right: 0;
    height: fit-content;
    // width: 30%;
    background-color: rgba(255, 255, 255, 0.662);
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    // border-radius: 3px;
    outline: rgba(148, 156, 243, 0.737) solid 2px;
    outline-offset: -2px;
    opacity: 1;
    transition: opacity $animation-time ease;

    div div{
        display: flex;
        text-align: left;
        font-size: $font-size;
        color: #58666e;
        padding-top: 10px;
        padding-bottom: 5px;
        font-family: $font-family;
    
    }

    button{
        font-family: $font-family;
        font-size: $font-size;
        background-color: $head-color;
        border: none;
        cursor: pointer;
    
        &:hover {
            background-color: darken(#39d3e6, 8%); 
            cursor: pointer;
        }
      
        &:active {
            background-color: darken(#39d3e6, 10%);
        }
    }

    // transition: opacity 1s ease;
    &.login-fold {
        opacity: 0!important;
        display: none;
        overflow: hidden;
        // * {
        //     pointer-events: none;  
        // }
    }
}

.login-item-s{
    margin-top: 5px;
    &.login-input {
        margin-top: unset;
    }
}

.btn {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    color: #fff;
    font-size: $font-size;
    font-weight: 400;
    line-height: 1.22857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

    &.login-item {
        margin-top: 10px;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #39d2e600;
        &:active {
            background-color: darken(#39d2e62d, 10%);
        }
    
        &:focus {
            outline: none;
        }
    }

}




input.login-input{
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    width: 250px;
    height: 2.5vh;
    // &::placeholder {
    //     padding-left: 8px; 
    // }
    text-indent: 8px;

}

#search {
    display: flex;
    height: 50%;

    input {
        border-radius: 20px 0px 0px 20px;
        border: 2px #66ccff;
        outline: none;
        padding-bottom: 8px;
        padding-top: 8px;
        font-size: 6px;
        background-color: #edf1f2;
        &:hover{
            background-color: #fff;
        }
        &:active{
            background-color: #fff;
        }
    }
    svg {
        height: 100%;
        justify-items: center;
        align-items: center;
        background-color: white;
        path {
            fill: #000
        }
        border-radius: 0px 20px 20px 0px;
        padding-right: 5px;
        background-color: #edf1f2;
        &:hover{
            background-color: #fff;
        }
        &:active{
            background-color: #fff;
        }
    }
    .icon-a {
        padding-left: unset;
    }
}

#profile-img-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    img {
        height: calc( #{$left-dis} * 7 /14 );
        width: calc( #{$left-dis} * 7 /14 );
        overflow: hidden;
        border-radius: calc( #{$left-dis} * 7 / 14 );
        transition: all 0.2s linear;
        // animation: rotate-beyond 1s forwards;
        &:hover {
            transform: rotateZ(-45deg);
            transition: transform $animation-time ease-out;
        }
    }
    transform: rotateZ(0deg);
    margin-top: 3vh;
    margin-left: auto;  // 上右下左  
    margin-right: auto;
}

.y-scroll{
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #4d7fff #ddd;

    &::-webkit-scrollbar {
        width: 10px;
        padding-top: 10px;
        z-index: -1;
    }
    &::-webkit-scrollbar-button {
        height: 0px;
        z-index: -1;
    }

    &::-webkit-scrollbar-track {
        background-color: #ebeceb00;
        border: 1px solid #ccc;
        z-index: -1;
      }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgba(0, 255, 179, 0.427) ,rgba(255, 255, 79, 0.395));
        // border-radius: 5px;
        z-index: -1;
      }
}


.article-bg {
    display: flex;
    position:fixed;
    overflow-y: scroll;
    // left: $left-dis;
    @extend .base_left;
    top: $head-dis;
    // right: $right-dis;
    @extend .base_right;
    height: 200%;
    background-color: #ffcccc40;
    transition: left $animation-time cubic-bezier(0.64, 1.48, 0.58, 1);
    &.profile-fold {
        left: $left-width-min!important;
        transition: left $animation-time cubic-bezier(0.64, 1.48, 0.58, 1);
    }
    &::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgba(63, 71, 214, 0.427) ,#000);
      }
    &::-webkit-scrollbar {
        position: absolute;
        width: 10px;
        padding-top: 10px;
        right: 0;
        //todo 
    }
    &.profile-hide-flag {
        left: 0 !important;
    }
    z-index: -1;
}

.article-container {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    flex: 1;
    margin-top: 5vh;
    height: 130%;
    width: 100%;
    z-index: 1;
}

.article-block {
    display: inline-flex;
    width: 100%;
    height: fit-content;
    background-size: cover;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
    img {
        overflow: hidden;
        width: 100%;
        min-height: 140px;
        max-height: 260px;
        margin-left: 10%;
        margin-right: 10%;
        object-fit:cover;
        transition: transform 0.3s ease;
        // background-position: 20px 30px; /* 设置背景图片偏移量 */
        &:hover {
            transform: scale(1.05); 
        }
    }
    // img:hover::before{
    //     opacity: 1;
    //     transition: all .2s;
    // }
}

// .article-block img::before {
//     content: ''; 
//     position: absolute; 
//     top: 0; 
//     left: 0;
//     width: 100%; 
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.934); 
//     opacity: 1;
//     // transition: opacity $animation-time ease; 
//     z-index: 9999;
//     // transition: all .2s;
// }

.profile-hide-re {
    // width: $left-width-min!important;
    display: unset!important;
}
.profile-hide {
    width: 0!important;
}